.DS_Store
.idea/
tmux/resurrect/*
tmux/plugins/*
TAGS
vim/view
vim/bundle
vim/bundle/*
vim/autoload/plug.vim
vim/plugged
vim/plugged/*
vim/yankring_history_v2.txt
vim/.netrwhist
nvim/bundle
nvim/bundle/*
nvim/autoload/plug.vim
nvim/plugged
nvim/plugged/*
nvim/yankring_history_v2.txt
nvim/.netrwhist
nvim/view
vimperator/info
vimperator/vimperator-plugins
vimperator/vimperator-plugins/*
